################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServisYonetimPanel/.vs/ServisYonetimPanel/v15/Server/sqlite3/storage.ide-wal
/ServisYonetimPanel/.vs/ServisYonetimPanel/v15/Server/sqlite3/storage.ide-shm
/ServisYonetimPanel/.vs/ServisYonetimPanel/v15/Server/sqlite3/storage.ide
/ServisYonetimPanel/.vs/ServisYonetimPanel/v15/Server/sqlite3/db.lock
/ServisYonetimPanel/.vs/ServisYonetimPanel/v15/.suo
/ServisYonetimPanel/.vs/ServisYonetimPanel/DesignTimeBuild/.dtbcache
/ServisYonetimPanel/.vs/config/applicationhost.config
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/VBCSCompiler.exe.config
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/VBCSCompiler.exe
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/vbc.rsp
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/vbc.exe.config
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/vbc.exe
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/System.Reflection.Metadata.dll
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/System.IO.FileSystem.Primitives.dll
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/System.IO.FileSystem.dll
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/System.Diagnostics.StackTrace.dll
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/System.Collections.Immutable.dll
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/System.AppContext.dll
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/Microsoft.VisualBasic.Core.targets
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/Microsoft.CSharp.Core.targets
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/Microsoft.CodeAnalysis.dll
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/csi.rsp
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/csi.exe
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/csc.rsp
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/csc.exe.config
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn/csc.exe
/ServisYonetimPanel/ServisYonetimPanel.Web.UI/bin/roslyn
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/WebGrease.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/System.Web.WebPages.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/System.Web.WebPages.Razor.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/System.Web.WebPages.Razor.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/System.Web.WebPages.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/System.Web.WebPages.Deployment.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/System.Web.WebPages.Deployment.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/System.Web.Razor.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/System.Web.Razor.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/System.Web.Optimization.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/System.Web.Optimization.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/System.Web.Mvc.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/System.Web.Mvc.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/System.Web.Helpers.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/System.Web.Helpers.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/ServisYonetimPanel.Web.UI.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/ServisYonetimPanel.Web.UI.dll.config
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/ServisYonetimPanel.Web.UI.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/Newtonsoft.Json.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/Newtonsoft.Json.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/Microsoft.Web.Infrastructure.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/Microsoft.ApplicationInsights.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/Microsoft.ApplicationInsights.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/Microsoft.AI.WindowsServer.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/Microsoft.AI.WindowsServer.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/Microsoft.AI.Web.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/Microsoft.AI.Web.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/Microsoft.AI.ServerTelemetryChannel.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/Microsoft.AI.ServerTelemetryChannel.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/Microsoft.AI.PerfCounterCollector.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/Microsoft.AI.DependencyCollector.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/Microsoft.AI.DependencyCollector.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/Microsoft.AI.Agent.Intercept.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/ApplicationInsights.config
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/Antlr3.Runtime.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI/Antlr3.Runtime.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Web.UI
/ServisYonetimPanel/ServisYonetimPanel.Output/Models/ServisYonetimPanel.Models.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Models/ServisYonetimPanel.Models.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Models
/ServisYonetimPanel/ServisYonetimPanel.Output/Entity/ServisYonetimPanel.Entity.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Entity/ServisYonetimPanel.Entity.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Entity
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/ServisYonetimPanel.Models.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/ServisYonetimPanel.Models.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/ServisYonetimPanel.Entity.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/ServisYonetimPanel.Entity.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/ServisYonetimPanel.Core.Web.UI.runtimeconfig.json
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/ServisYonetimPanel.Core.Web.UI.runtimeconfig.dev.json
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/ServisYonetimPanel.Core.Web.UI.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/ServisYonetimPanel.Core.Web.UI.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/ServisYonetimPanel.Core.Web.UI.deps.json
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/ServisYonetimPanel.Contracts.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/ServisYonetimPanel.Contracts.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/ServisYonetimPanel.Common.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/ServisYonetimPanel.Common.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/ServisYonetimPanel.Business.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/ServisYonetimPanel.Business.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/Rocket.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/Rocket.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/DexterCfg.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/DexterCfg.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/Dexter.Extensions.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1/Dexter.Extensions.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Core.Web.UI/netcoreapp2.1
/ServisYonetimPanel/ServisYonetimPanel.Output/Contracts/ServisYonetimPanel.Models.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Contracts/ServisYonetimPanel.Models.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Contracts/ServisYonetimPanel.Entity.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Contracts/ServisYonetimPanel.Entity.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Contracts/ServisYonetimPanel.Contracts.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Contracts/ServisYonetimPanel.Contracts.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Contracts/ServisYonetimPanel.Common.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Contracts/ServisYonetimPanel.Common.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Contracts
/ServisYonetimPanel/ServisYonetimPanel.Output/Common/ServisYonetimPanel.Common.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Common/ServisYonetimPanel.Common.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Common
/ServisYonetimPanel/ServisYonetimPanel.Output/Business/ServisYonetimPanel.Models.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Business/ServisYonetimPanel.Models.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Business/ServisYonetimPanel.Entity.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Business/ServisYonetimPanel.Entity.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Business/ServisYonetimPanel.Contracts.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Business/ServisYonetimPanel.Contracts.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Business/ServisYonetimPanel.Common.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Business/ServisYonetimPanel.Common.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Business/ServisYonetimPanel.Business.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Business/ServisYonetimPanel.Business.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Business/Rocket.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Business/Rocket.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Business/DexterCfg.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Business/DexterCfg.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Business/Dexter.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Business/Dexter.Extensions.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Business/Dexter.Extensions.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Business/Dexter.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Business
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/System.Web.Http.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/System.Web.Http.Owin.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/System.Web.Http.Owin.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/System.Web.Http.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/System.Net.Http.Formatting.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/System.Net.Http.Formatting.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/ServisYonetimPanel.Models.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/ServisYonetimPanel.Models.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/ServisYonetimPanel.Entity.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/ServisYonetimPanel.Entity.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/ServisYonetimPanel.Contracts.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/ServisYonetimPanel.Contracts.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/ServisYonetimPanel.Common.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/ServisYonetimPanel.Common.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/ServisYonetimPanel.Business.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/ServisYonetimPanel.Business.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/ServisYonetimPanel.Api.ConsoleApp.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/ServisYonetimPanel.Api.ConsoleApp.exe.config
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/ServisYonetimPanel.Api.ConsoleApp.exe
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/Rocket.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/Rocket.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/Owin.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/Newtonsoft.Json.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/Newtonsoft.Json.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/Microsoft.Owin.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/Microsoft.Owin.Hosting.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/Microsoft.Owin.Hosting.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/Microsoft.Owin.Host.HttpListener.xml
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/Microsoft.Owin.Host.HttpListener.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/Microsoft.Owin.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/DexterCfg.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/DexterCfg.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/Dexter.Extensions.pdb
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp/Dexter.Extensions.dll
/ServisYonetimPanel/ServisYonetimPanel.Output/Api.ConsoleApp
/ServisYonetimPanel/ServisYonetimPanel.Output
/ServisYonetimPanel/packages/Owin.1.0/Owin.1.0.nupkg
/ServisYonetimPanel/packages/Owin.1.0/lib/net40/Owin.dll
/ServisYonetimPanel/packages/Owin.1.0/lib/net40
/ServisYonetimPanel/packages/Owin.1.0
/ServisYonetimPanel/packages/Microsoft.Owin.Hosting.2.0.2/Microsoft.Owin.Hosting.2.0.2.nupkg
/ServisYonetimPanel/packages/Microsoft.Owin.Hosting.2.0.2/lib/net45/Microsoft.Owin.Hosting.XML
/ServisYonetimPanel/packages/Microsoft.Owin.Hosting.2.0.2/lib/net45/Microsoft.Owin.Hosting.dll
/ServisYonetimPanel/packages/Microsoft.Owin.Hosting.2.0.2/lib/net45
/ServisYonetimPanel/packages/Microsoft.Owin.Hosting.2.0.2/lib/net40/Microsoft.Owin.Hosting.XML
/ServisYonetimPanel/packages/Microsoft.Owin.Hosting.2.0.2/lib/net40/Microsoft.Owin.Hosting.dll
/ServisYonetimPanel/packages/Microsoft.Owin.Hosting.2.0.2/lib/net40
/ServisYonetimPanel/packages/Microsoft.Owin.Hosting.2.0.2/lib
/ServisYonetimPanel/packages/Microsoft.Owin.Hosting.2.0.2
/ServisYonetimPanel/packages/Microsoft.Owin.Host.HttpListener.2.0.2/Microsoft.Owin.Host.HttpListener.2.0.2.nupkg
/ServisYonetimPanel/packages/Microsoft.Owin.Host.HttpListener.2.0.2/lib/net45/Microsoft.Owin.Host.HttpListener.xml
/ServisYonetimPanel/packages/Microsoft.Owin.Host.HttpListener.2.0.2/lib/net45/Microsoft.Owin.Host.HttpListener.dll
/ServisYonetimPanel/packages/Microsoft.Owin.Host.HttpListener.2.0.2/lib/net45
/ServisYonetimPanel/packages/Microsoft.Owin.Host.HttpListener.2.0.2/lib/net40/Microsoft.Owin.Host.HttpListener.xml
/ServisYonetimPanel/packages/Microsoft.Owin.Host.HttpListener.2.0.2/lib/net40/Microsoft.Owin.Host.HttpListener.dll
/ServisYonetimPanel/packages/Microsoft.Owin.Host.HttpListener.2.0.2/lib/net40
/ServisYonetimPanel/packages/Microsoft.Owin.Host.HttpListener.2.0.2/lib
/ServisYonetimPanel/packages/Microsoft.Owin.Host.HttpListener.2.0.2
/ServisYonetimPanel/packages/Microsoft.Owin.4.0.0/Microsoft.Owin.4.0.0.nupkg
/ServisYonetimPanel/packages/Microsoft.Owin.4.0.0/lib/net451/Microsoft.Owin.XML
/ServisYonetimPanel/packages/Microsoft.Owin.4.0.0/lib/net451/Microsoft.Owin.dll
/ServisYonetimPanel/packages/Microsoft.Owin.4.0.0/lib/net451
/ServisYonetimPanel/packages/Microsoft.Owin.4.0.0
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.OwinSelfHost.5.2.6/Microsoft.AspNet.WebApi.OwinSelfHost.5.2.6.nupkg
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.OwinSelfHost.5.2.6/.signature.p7s
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.OwinSelfHost.5.2.6
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Owin.5.2.6/Microsoft.AspNet.WebApi.Owin.5.2.6.nupkg
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Owin.5.2.6/lib/net45/System.Web.Http.Owin.xml
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Owin.5.2.6/lib/net45/System.Web.Http.Owin.dll
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Owin.5.2.6/lib/net45
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Owin.5.2.6/.signature.p7s
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Owin.5.2.6
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Core.5.2.6/Microsoft.AspNet.WebApi.Core.5.2.6.nupkg
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Core.5.2.6/lib/net45/System.Web.Http.xml
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Core.5.2.6/lib/net45/System.Web.Http.dll
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Core.5.2.6/lib/net45
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Core.5.2.6/Content/web.config.transform
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Core.5.2.6/Content
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Core.5.2.6/.signature.p7s
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Core.5.2.6
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Client.5.2.6/Microsoft.AspNet.WebApi.Client.5.2.6.nupkg
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.xml
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.dll
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/portable-wp8+netcore45+net45+wp81+wpa81
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/netstandard2.0/System.Net.Http.Formatting.xml
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/netstandard2.0/System.Net.Http.Formatting.dll
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/netstandard2.0
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/net45/System.Net.Http.Formatting.xml
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Client.5.2.6/lib/net45/System.Net.Http.Formatting.dll
/ServisYonetimPanel/packages/Microsoft.AspNet.WebApi.Client.5.2.6/.signature.p7s
